.nashe:hover {
    color: blueviolet;
    background-color: black;
}

.texto {
    
}

.img1 {
    height: 80px;  
}
.sectionfooter {
    display: flex;
    justify-content: space-around;
}

.buenas {
    display: flex;
    justify-content: space-around;
}
