.nashe:hover {
    color: blueviolet;
    background-color: black;
    transition: color 0.5s;
    transform: scale(1.05);
}
.nashe {
    transition: color 0.5s;
}
.nashe:active {
    text-decoration: underline;
}

.img1 {
    height: 80px;  
}
.sectionfooter {
    display: flex;
    justify-content: space-around;
}

.buenas {
    display: flex;
    justify-content: space-around;
}



.card:hover {
    transform: scale(0.9);
}
header section nav a::before {
    content: "\2794";
    color: blueviolet;
    border: 15px;
}
header section nav a:active {
    text-decoration: underline;
}




